
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #b88c8c;
    color: #ffffff;
    margin: 0; /* Added to ensure no default margin */
}


header {
    background-color: #dcc17a;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Added box-shadow for a subtle effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #741c1c;
}


.landing {
    background-image: url('https://stock.adobe.com/images/interior-of-the-chinese-restaurant/324739203');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 100px 0;
    text-align: center;
    /* Added linear gradient overlay for a more dramatic effect */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://stock.adobe.com/images/interior-of-the-chinese-restaurant/324739203');
}



.btn {
    background-color: #741c1c;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
    /* Added cursor pointer for better indication of interactivity */
    cursor: pointer;
}

.btn:hover {
    background-color: #522014;
}
